@font-face{
    font-family:Quesha;
    src: url(Fonts/Quesha.ttf);
}
body {

}
div:first-of-type{
    text-align: center;
}
div:nth-of-type(2) p{
    text-align: center;
    font-size: 25px;
    font-family: Quesha;
}
div:nth-of-type(3){
    text-align: center;
}
#button {
    border: none;
    color: #746D6E;
    padding: 15px 20px;
}
div:first-of-type h1{
    font-family: Quesha;
    font-size: 95px;
    padding-top: 100px;
}


