.clickme {
    margin-right:auto;
    margin-left:auto;
    padding: 15px;
    font-size: 15px;
    color:darkgray;
    border-radius: 5px;

}
#button-click{
    text-align: center;
    margin-top: 20px;
}